* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: 'Montagu Slab', serif;
}

a{
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: url(../imagenes/imgfondo.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
.menu {
    background: rgb(0,0,0,.1);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255,.5);
}

.logo {
    flex: 1 1 auto;
}
.logo a{
    color: #FEFF;
    font-size: 30px;
   
}
.logo a:hover{
    color: #02000034;
   
}
.nav {
    flex: 5 1 auto;
}
.nav a{
    color: #FEFF;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
.nav a:hover{
    color: #343434;
}

.social {
    flex: 1 1 auto;
    display: flex;
}
.social a{
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}
.social a:hover{
    color: #343434;
}

.texto-principal {
    background: #ff5555;
}

h1 {
    background: #98D8AA;
}
.section {
    background: #000;
    display: flex;
}

.articulos {
    background: #19A7CE;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.articulo {
    background: #FEFF86;
    flex: 1 1 40%;
}

.navegacion {
    background: #A2A378;
    flex:1 1 100%;
}

.aside {
    background: hwb(152 2% 2%);
    flex: 1 1 auto;
}

.publicidad {
    background: #FEFF86;
    flex:1 1 auto;
}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}

.pie {
    background: #00FFCA;
    width: 300px;
}

@media all and(max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and(max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and(max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}